<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<center>
	<form action="studentRegistration">
	<h1 style="color: indigo" text-align:"center">Student Registration</h1>
	   <input style="width: 250px" border-radius:"10px" type="text" placeholder="Enter Student Name" name=name>
	<br>
		<input style="width: 250px" type="email" placeholder="Enter Student Emailid" name=emailid>
	<br>
		<input style="width: 250px" type="number" placeholder="Enter Student Mobile Number" name=mobilenumber>
	<br>
		<input style="width: 250px" type="text" placeholder="Enter Student Gender" name=gender>
	<br>
		<button>Submit</button>
	</form>
	</center>
</body>
</html>